<!DOCTYPE html>
<html>
<head>
	<title>SIT Assistant</title>
	<link rel="stylesheet" type="text/css" href="{{url_for	('static',filename='style.css')}}">
	<link rel="stylesheet"type="text/css" href="{{url_for	('static',filename='head.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for	('static',filename='bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for	('static',filename='font.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for	('static',filename='w3.css')}}">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background: linear-gradient(to right, rgb(109, 63, 248), rgb(245, 46, 51));
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>	
</head>
<body>


<nav>
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="home" class="w3-bar-item w3-button"><b>SIT</b> Assistant</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="SIT Assistant" class="w3-bar-item w3-button">Assistant</a>
      <a href="AboutUs" class="w3-bar-item w3-button">About</a>
      <a href="contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>
</nav>
		
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">SIT Assistant</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">college Assistant Project</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    <a href="http://sitcoe.ac.in/" target="_blank">SITCOE</a>
  </div>
</div>

</body>
</html>